<%- include('partials/header.ejs') %> 

<!-- TITLE TEST -->
<div class="titleText">
    <p id="get_opinion_about">Get opinion about </p> 
    <p>
        <span class="word purple"> text.</span>
        <span class="word belize"> twitter.</span>
        <span class="word turquoise"> url.</span>
    </p>
</div>
<!-- TITLE TEST -->


<!-- BOXES -->
<div class="page">
    <div class="box-list">
        <!-- FREE TEXT BOX -->
        <div class="box" >
            <div class="box__inner" id="box1">
                <h1>Free Text</h1>
                <div id='box1Div'>
                    <div id="box1noHover">
                        Get you free text processed and analyzed, and get opinion summery about.
                    </div>
                    
                    <!-- POST FORM -->
                    <div id="box1hover">
                        <form action="/freeText" method="POST">
                            <div id="inputDiv" class="input-group mb-3">
                                <input type="text" id="userInput" class="form-control" name="input" placeholder="Enter text" aria-label="Example text with button addon" aria-describedby="button-addon1" autocomplete="off">
                            </div>
                            <div >
                                <!-- <button class="btn btn-secondary" type="submit" id="button-addon1">Button</button> -->
                                <button class="blueBtn myBtnBlue" type="submit" id="freeTextConfirm">Analyze!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

            <!-- TWITTER BOX -->
            <div class="box" >
                <div class="box__inner" id="box2">
                    <h1>Twitter Search</h1>
                    <div id='box2Div'>
                        <div id="box2noHover">
                            Get Twitter post and comments about any subject you choose and analyze the data
                        </div>
                        <!-- POST FORM -->
                        <div id="box2hover">
                            <form action="/" method="POST">
                                <div class="input-group mb-3">
                                    <input type="text" id="twitterInput" class="form-control" name="input" placeholder="Enter search query" aria-label="Example text with button addon" aria-describedby="button-addon1" autocomplete="off">
                                    
                                </div>
                                
                                <div>
                                    <div class="value">Number of tweets</div>
                                    <input type="range" id="tweetsCount" min="0" max="100" step="1" value="0"> 
                                </div>
                                


                                <div class="input-group-prepend">
                                    <!-- <button class="btn btn-outline-secondary" type="submit" id="searchTwitterBtn">Button</button> -->
                                    <button class="purpleBtn myBtnPurple" type="submit" id="searchTwitterBtn">Analyze!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" >
                <div class="box__inner" id="box3">
                    <h1>URL</h1>
                    <div id='box3Div'>
                        <div id="box3noHover">
                            Get your URL article analyzed 
                        </div>
                    <div id="box3hover">
                        <div id="inputDiv" class="input-group mb-3">
                            <input type="text" id="urlInput" class="form-control" name="input" placeholder="Enter URL" aria-label="Example text with button addon" aria-describedby="button-addon1" autocomplete="off">
                        </div>
                        <div>
                            <!-- <button class="btn btn-outline-secondary" type="submit" id="confirmUrlBtn">Button</button>
                            <button class="blueBtn myBtnBlue" >hover</button> -->
                            <button class="blueBtn myBtnBlue" type="submit" id="confirmUrlBtn">Analyze!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BOXES -->

<!-- loader -->
<div class="loader" id="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
</div>
<!-- loader -->

<!-- ------- -->
<!-- OUTPUTS -->
<!-- ------- -->

<div id="circle" class="resultDiv">
    <div id="twitterDiv"> 
        <!-- twitter -->
        <h5>TWITTER</h5>

        <div style="display:inline-block; width: 100%; max-height: 188px;">
            <div style="display:inline-block; float: left; width: 300px; ">
                <h5 id="positive"></h5>
                <div class="hrDiv">
                    <hr class="line"></hr>
                </div>
                <h5 id="negative"></h5>
                <div class="hrDiv">
                    <hr class="line"></hr>
                </div>
                <h5 id="neutral"></h5>
                <div class="hrDiv">
                    <hr class="line"></hr>
                </div>
                <h5 id="polarity"></h5>
            </div>
            
            <div style="display: inline-block;">
                <div id="feedbackSmiley"></div>
            </div>
            <!-- <div>
                <h5 id="avg"></h5>
            </div> -->

            <div style="float: right; width: 300px;">
                <div id="posTweetStats" style="display: block;">
                    <div id="mostPosTweet"></div>
                    <div id="mostPosNum"></div>
                </div>

                <div class="hrDiv">
                    <hr class="line"></hr>
                </div>
                
                <div id="negTweetStats" style="display: block;">
                    <div id="mostNegTweet"></div>
                    <div id="mostNegNum"></div>
                </div>
            </div>
        </div>
        <div id="avgDiv">
            <div id="avg"></div>
        </div>
    </div>


    <div id="freeDiv">
        <h1>FREE TEXT</h1>
        <div id="feedbackSmiley">

        </div>
        <div>
            AVG:
            <h5 id="freeText_avg"></h5>
        </div>

        <div>
            positive number:
            <h5 id="freeText_pos_num"></h5>
        </div>

        <div>
            negative number:
            <h5 id="freeText_neg_num"></h5>
        </div>

        <div>
            words number:
            <h5 id="freeText_words_num"></h5>
        </div>
        
        
    </div>

    <div id="urlDiv">
        <h1>URL</h1>
        <h5 id="urlOutput">Loading</h5>
    </div>

</div>




<%- include('partials/footer.ejs') %> 
