<%- include('partials/header.ejs') %> 


<!-- BOXES -->
<div class="page">
    <div class="box-list">
        <div class="box" >
            <div class="box__inner" id="box1">
                <h1>Free Text</h1>
                <div id='box1Div'>
                    Get you free text processed and analyzed, and get opinion summery about.
                </div>
                
            </div>
        </div>
        <div class="box" >
            <div class="box__inner" id="box2">
                <h1>Twitter Search</h1>
                <div id='box2Div'>
                    Get Twitter post and comments about any subject you choose and analyze the data
                </div>
                    
            </div>
        </div>
        <div class="box" >
            <div class="box__inner" id="box3">
                <h1>URL</h1>
                <div id='box3Div'>
                    Get your URL article analyzed 
                </div>
                    
            </div>
        </div>
    </div>
</div>
<!-- BOXES -->

<div class="jumbotron jumbotron-fluid">
    <div id="freeTextContainer" class="container">
        <h1>FREE TEXT</h1>
        <form action="/" method="POST">
            <div id="inputDiv" class="input-group mb-3">
                <input type="text" id="userInput" class="form-control" name="input" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
            
            <div class="input-group-prepend">
                <button class="btn btn-secondary" type="submit" id="button-addon1">Button</button>
            </div>
        </form>
        
        <!-- Loading square for squar.red network -->
        <span id="loader">
            <span class="loader-inner"></span>
        </span>

        <div id="output">test</div>
    </div>


    <!-- added --> 

    <!-- twitter -->
    <h1>TWITTER</h1>
    
    <form action="/" method="POST">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            
            </div>
            <input type="text" id="twitterInput" class="form-control" name="input" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary" type="submit" id="searchTwitterBtn">Button</button>
        </div>
    </form>
    <div id="twitterOutput">
        <h5 id="avg"></h5>
        <h5 id="positive"></h5>
        <h5 id="negative"></h5>

    </div>


    <!-- url  -->
    <h1>URL</h1>
    <input type="text" id="urlInput" class="form-control" name="input" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    <button class="btn btn-outline-secondary" type="submit" id="confirmUrlBtn">Button</button>
    <h5 id="urlOutput"></h5>
</div>


<!-- added --> 

<script type="text/javascript" src="/javascripts/boxHovering.js"></script>      <!-- added --> 
<script type="text/javascript" src="/javascripts/urlAnalysis.js"></script>      <!-- added --> 
<script type="text/javascript" src="/javascripts/twitterAnalysis.js"></script> <!-- added -->  
<script type="text/javascript" src="/javascripts/index.js"></script> 

<%- include('partials/footer.ejs') %> 