@import url(https://fonts.googleapis.com/css?family=Dosis:700);

.value {

  text-align: center;
  font-size: 10m;
  margin: 10px auto;
  letter-spacing: -.07em;
    
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: white;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
  background:  rgba(71, 83, 157, 0.8);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }