body {
  margin: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: -moz-center;
}
button:focus { 
  outline: none; 
}

/* webcross centrlize placeholder */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
/* centerize input text */
input{
  text-align:center;
  margin-top: 15px;
}



/* Round inputs style */
.form-control {
  border-radius: 18px;

}

#freeTextContainer {
  align-items: center;
}

.container {
  text-align: center;
}
.input-group-prepend {
  display: block;
}

.input-group {
  display: inline-block;
  width: 70%;
  
}

.jumbotron.jumbotron-fluid {
  margin-top: 20px;
  display: none;
}

.jumbotron-fluid {
  border-radius: 25px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  width: 75%;
}

/* #userInput {
  border-radius: 18px;
} */

/* BOXES */

/* boxes border */
.page {
  border-radius: 25px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.box-list {
  background: #119bc9;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  .box {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  
}



.box-list:hover {
  .box {
    width: 20%;
  }
}

.box {
  min-height: 300px;
  color: #fff;
  transition: all 0.5s;
  max-height: 300px;
  background-image: url('http://lorempixel.com/400/300/sports');
  background-size: cover;
  width: 33.33%;
  
}

.box__inner {
    padding: 20px;
    min-height: 300px;
    background-color: rgba(17, 155, 201, 0.7);
   
}
.box:hover {
  width: 150%!important;
  font-size: 18px;
  
  .box__inner {
    padding: 40px;
    min-height: 260px;
  }


}

/* FIRST BOX */
.box:nth-child(1) {
  background-image: url('/images/text.jpg');
}

.box:nth-child(1) .box__inner{
  background: rgba(71, 83, 157, 0.8);
}
/* SECOND BOX */
.box:nth-child(2) {
  background-image: url('/images/text.jpg');
}

.box:nth-child(2) .box__inner{
  
}

/* THIRD BOX */
.box:nth-child(3) {
  /* background-image: url('/images/text.jpg'); */
}

.box:nth-child(3) .box__inner{
  background: rgba(0, 255, 157, 0.781);
}


/* boxes hover/unhover */
#box1hover, #box2hover, #box3hover, #urlDiv, #freeDiv, #twitterDiv  {
  display: none;
}

#urlInput {
  width: 60%;
}

/* BLUE BTN */

.blueBtn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  margin: 10px;
  transition: 0.8s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 35px rgba(51, 51, 51, 0.596);
}

.myBtnBlue {
  color: #fff;
}
.myBtnBlue:hover {
  color: #3498db;
  transform: translateY(7px);
  transition: 0.4s;
  box-shadow: none;
}

.blueBtn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.6s;
  
}
.myBtnBlue::before {
  top:0;
  border-radius: 0 0 50% 50%;
  height: 180%;
}

.myBtnBlue:hover::before {
  height: 0%;
}

/* PURPLE BTN */

.purpleBtn {
  border: 1px solid rgb(94, 71, 157);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  margin: 10px;
  transition: 0.8s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 35px rgba(51, 51, 51, 0.596);
}

.myBtnPurple {
  color: #fff;
}
.myBtnPurple:hover {
  color: rgb(94, 71, 157);
  transform: translateY(7px);
  transition: 0.4s;
  box-shadow: none;
}

.purpleBtn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(94, 71, 157);
  z-index: -1;
  transition: 0.6s;
  
}
.myBtnPurple::before {
  top:0;
  border-radius: 0 0 50% 50%;
  height: 180%;
}

.myBtnPurple:hover::before {
  height: 0%;
}




.form-control:hover{
  width: 100%;
  height: 45px;
  transition: 0.2s;
  box-shadow: 0 0 50px rgba(46, 46, 46, 0.856);
  
}
.form-control {
  transition: 0.7s;
  width: 95%;
  
}



/* TITLE TEXT */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);


.titleText {
  width: 100%;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  margin-bottom: 40px;
}

p {
  color: rgb(78, 78, 78);
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 57px;
  padding-right: 8px;
}
.word {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.purple {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}
.turquoise {
  color: rgba(0, 255, 157, 0.781)
}

/* SMILEY */

#feedbackSmiley {
  display: inline-block;
}

.smiley {
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #fbb03b;
  background: radial-gradient(circle at 40% 40%, #fddf18 50%, #fbb03b, orange 95%);
  box-shadow:10px 10git px 30px black;
  
  border-radius: 100%;
  position: relative;
}
.smiley--sad {
  background: linear-gradient(rgba(255, 0, 0, .4), rgba(255, 0, 0, 0) 50%), 
  radial-gradient(circle at 40% 40%, #fddf18 50%, #fbb03b, orange 95%);
}

.smiley-face {
  height: 100%;
}
.smiley-face--happy {
  position: relative;
  animation: move-happy-face 4s;
  animation-iteration-count: infinite;
}
@keyframes move-happy-face
{
  0% { 
    top: 0;
  }
  3% {
    top: 4%; 
  }
  6% {
    top: 4%; 
  } 
  9% { 
    top: 0%;
  }
  100% { 
    top: 0%;
  }
}

.smiley-eyes {
  width: 60%;
  height: 13%;
  position: relative;
}
.smiley-eyes--happy {
  top: 30%;
}
.smiley-eyes--neutral {
  margin-top: 30%;

}
.smiley-eyes--sad {
  height: 15%;
  top: 50%;
}

.smiley-eye {
  background: #603813;
  width: 22.5%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
}
.smiley-eye:last-child {
  right: 0;
}

.smiley-eyes--happy .smiley-eye:last-child {
  animation: wink 4s;
  animation-iteration-count: infinite;
}
@keyframes wink {
  0% {
    height: 100%;
    top: 0;
  }
  3% {
    height: 20%;
    top: 40%;
  }
  6% {
    height: 20%;
    top: 40%;
  }
  9% {
    height: 100%;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

.smiley-eyes--sad .smiley-eye {

  transform: rotate(7deg) scaleX(.8);
}
.smiley-eyes--sad .smiley-eye:last-child {
  transform: rotate(-7deg) scaleX(.8);
}

.smiley-mouth {
  background: #603813;
  position: absolute;  
}
.smiley-mouth--happy {
  width: 60%;
  height: 30%;
  top: 53%;
  left: 20%;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  overflow: hidden;
}
.smiley-mouth--neutral {
  width: 24%;
  height: 10%;
  left: 38%;
  bottom: 15%;
  border-top-left-radius: 30% 100%;
  border-top-right-radius: 30% 100%;
  border-bottom-left-radius: 30% 100%;
  border-bottom-right-radius: 30% 100%;
}
.smiley-tongue {
  background: #c1272d;
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  border-radius: 60% 60% 0 0;
}

.smiley-mouth--sad {
  width: 24%;
  height: 10%;
  left: 38%;
  bottom: 15%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}

.smiley-face--sad {
  animation: move-sad-face 4s;
  animation-iteration-count: infinite;
}
.smiley-mouth-sad--neutral {
  background-color: white;
  width: 70%;
  height: 30%;
  margin-top: 15%;
  border-top-left-radius: 30% 100%;
  border-top-right-radius: 30% 100%;
  border-bottom-left-radius: 30% 100%;
  border-bottom-right-radius: 30% 100%;
}
@keyframes move-sad-face {
  0% { 
    transform: translateX(0%);
  }
  3% {
    transform: translateX(-17%);
  }
  5% { 
    transform: translateX(12%);
  }
  8% {
    transform: translateX(-7%);
  }
  10% { 
    transform: translateX(2%);
  }
  13% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }  
}
/* SMILEY */

.column {
  float: left;
  width: 2px;
  background-color: black;
  margin-left: 7px;
  height: 5px;
  position: center;

}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
/* loader */


#loader {
  display:none;
}

.loader {
  margin-top: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #3498db;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid rgb(94, 71, 157);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid rgb(0, 255, 157);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/* loader */

/* result div */

.resultDiv {
  display: none;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background: rgba(87, 87, 87, 0.705);
  border-radius: 50%;
  
}

.resultDivOpened {
  display: block;
  animation: mymove 1s forwards;
  animation-timing-function: ease-out;
}

@keyframes mymove {
  
  from {
    width: 100px;
    height: 100px;
  }
  to { 
    width: 100%;
    height: 100%;
    border-radius: 25px;
    }
}
/* result div */

/* FADED HORIZONTAL SEPARATOR */
.hrDiv{
  /* padding-top:150px;
  width: 900px; */
  margin: 0 auto;
}
hr {
  margin: 0;
}
.line{ 
  display:block;
  height:1px;
  border-top: 1px solid black;
  border-image: linear-gradient(to right, transparent 0%,   #333 50%, transparent 100%);
  border-image-slice: 1;   
}    
