body {
  margin: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: -moz-center;
}
button:focus { 
  outline: none; 
}

/* webcross centrlize placeholder */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
/* centerize input text */
input{
  text-align:center;
}



/* Round inputs style */
.form-control {
  border-radius: 18px;

}

#freeTextContainer {
  align-items: center;
}

.container {
  text-align: center;
}
.input-group-prepend {
  display: block;
}

.input-group {
  display: inline-block;
  width: 70%;
  
}

.jumbotron.jumbotron-fluid {
  margin-top: 100px;
}
.jumbotron-fluid {
  border-radius: 25px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  width: 75%;
}

/* #userInput {
  border-radius: 18px;
} */

/* BOXES */

/* boxes border */
.page {
  border-radius: 25px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.box-list {
  background: #119bc9;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  .box {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  
}

.box-list:hover {
  .box {
    width: 20%;
  }
}

.box {
  min-height: 300px;
  color: #fff;
  transition: all 0.5s;
  max-height: 300px;
  background-image: url('http://lorempixel.com/400/300/sports');
  background-size: cover;
  width: 33.33%;
  
}

.box__inner {
    padding: 20px;
    min-height: 300px;
    background-color: rgba(17, 155, 201, 0.7);
   
}
.box:hover {
  width: 150%!important;
  font-size: 18px;
  
  .box__inner {
    padding: 40px;
    min-height: 260px;
  }


}

.box:nth-child(odd) {
  background-image: url('/images/text.jpg');
}

.box:nth-child(odd) .box__inner{
  background: rgba(71, 83, 157, 0.8);
}

/* boxes hover/unhover */
#box1hover{
  display: none;
}
#box2hover{
  display: none;
}
#box3hover{
  display: none;
}

#urlDiv {
  display: none;
}
#freeDiv {
  display: none;
}
#twitterDiv {
  display: none;
}

/* #urlInput {
  width: 60%;
} */

.analyzeBtn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  margin: 10px;
  transition: 0.8s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

.mybtn1 {
  color: #fff;
}
.mybtn1:hover {
  color: #3498db;
  transform: translateY(-7px);
  transition: 0.4s;
}

.analyzeBtn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.6s;
  
}
.mybtn1::before {
  top:0;
  border-radius: 0 0 50% 50%;
  height: 180%;
}

.mybtn1:hover::before {
  height: 0%;
}

.form-control:hover{
  width: 100%;
  height: 45px;
  transition: 0.2s;
  box-shadow: 0 0 50px rgba(46, 46, 46, 0.856);
  
}
.form-control {
  transition: 0.7s;
  width: 95%;
  
}



/* TITLE TEXT */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);


.titleText {
  width: 600px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  margin-bottom: 40px;
}

p {
  color: rgb(78, 78, 78);
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 57px;
}
.word {
  position: absolute;
  width: 300px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.purple {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

