body {
  margin: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: -moz-center;
}

/* webcross centrlize placeholder */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
/* centerize input text */
input{
  text-align:center;
}


/* Round inputs style */
.form-control {
  border-radius: 18px;

}

#freeTextContainer {
  align-items: center;
}

.container {
  text-align: center;
}
.input-group-prepend {
  display: block;
}

.input-group {
  display: inline-block;
  width: 70%;
  
}

.jumbotron.jumbotron-fluid {
  margin-top: 100px;
}
.jumbotron-fluid {
  border-radius: 25px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  width: 75%;
}

/* #userInput {
  border-radius: 18px;
} */

/* BOXES */

/* boxes border */
.page {
  border-radius: 25px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.box-list {
  background: #119bc9;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  .box {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  
}

.box-list:hover {
  .box {
    width: 20%;
  }
}

.box {
  min-height: 300px;
  color: #fff;
  transition: all 0.5s;
  max-height: 300px;
  /* bakcground */
  background-size: cover;
  width: 33.33%;
}

.box__inner {
    padding: 20px;
    min-height: 300px;
    background-color: rgba(17, 155, 201, 0.7);
    /* background */
}
.box:hover {
  width: 150%!important;
  font-size: 18px;
  
  .box__inner {
    padding: 40px;
    min-height: 260px;
  }
}

.box:nth-child(odd) {

}

.box:nth-child(odd) .box__inner{
  background: rgba(71, 83, 157, 0.8);
}

/* boxes hover/unhover */
#box1hover{
  display: none;
}
#box2hover{
  display: none;
}
#box3hover{
  display: none;
}

#urlDiv {
  display: none;
}
#freeDiv {
  display: none;
}
#twitterDiv {
  display: none;
}

#urlInput {
  width: 660px;
}