body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: -moz-center;
}

#freeTextContainer {
  align-items: center;
}

.container {
  text-align: center;
}
.input-group-prepend {
  display: block;
}

.input-group {
  display: inline-block;
  width: 70%;
  
}

.jumbotron-fluid {
  border-radius: 25px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  width: 75%;
}

#userInput {
  border-radius: 18px;
}

/* LOADER */
#loader {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid rgba(177, 177, 177, 0.308);
  top: 50%;
  animation: loader 2s infinite ease;
  margin-top: 20px;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color:rgba(10, 84, 245, 0.356);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* LOADER */


/* BOXES */

.box-list {
  background: #119bc9;
  overflow: hidden;
  display: flex;
  
  .box {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
}

.box-list:hover {
  .box {
    width: 20%;
  }
}

.box {
  min-height: 300px;
  color: #fff;
  transition: all 0.5s;
  background-image: url('http://lorempixel.com/400/300/sports');
  background-size: cover;
  width: 33.33%;
}

.box__inner {
    padding: 20px;
    min-height: 300px;
    background-color: rgba(17, 155, 201, 0.7);
}
.box:hover {
  width: 150%!important;
  font-size: 18px;
  
  .box__inner {
    padding: 40px;
    min-height: 260px;
  }
}

.box:nth-child(odd) {
  background-image: url('http://lorempixel.com/400/300/people');
}

.box:nth-child(odd) .box__inner{
  background: rgba(71, 83, 157, 0.8);
}

/* boxes hover/unhover */
#box1hover{
  display: none;
}